<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label= "@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.example.myapplication.controllers.ReviewLatestScore"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.controllers.LeaderBoard"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.controllers.Hub"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.quizzes.quiz5"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.quizzes.quiz4"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.quizzes.quiz3"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.quizzes.quiz2"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.controllers.Results"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.quizzes.quiz1"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.controllers.SignUp"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.controllers.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>